/* ------------------ */
/* RESET SIMPLE       */
/* ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  background: #ffffff;
  color: #000;
}

/* ------------------ */
/* HEADER PERFIL      */
/* ------------------ */
.perfil-header {
  text-align: center;
  padding: 20px 0;
}

.logo {
  width: 95px;
}

.brand {
  font-size: 28px;
  font-weight: 500;
  margin-top: 5px;
}

/* ------------------ */
/* INFO               */
/* ------------------ */
.perfil-info {
  text-align: center;
  padding-bottom: 20px;
}

.perfil-info a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* ------------------ */
/* STORIES            */
/* ------------------ */
.stories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.story img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}

.story p {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}

/* ------------------ */
/* GALERIA            */
/* ------------------ */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.galeria img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

/* ------------------ */
/* FOTO INDIVIDUAL    */
/* ------------------ */
.foto-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.back {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.foto-full img {
  width: 100%;
}

.foto-desc {
  padding: 15px;
}

/* ------------------ */
/* RESPONSIVO         */
/* ------------------ */
@media (min-width: 768px) {
  .perfil-header {
    padding: 40px 0;
  }

  .galeria img {
    height: 230px;
  }

  .story img {
    width: 90px;
    height: 90px;
  }
}


